<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.CartMapper">

    <insert id="cartAdd" parameterType="CartDTO">
        insert into cart(product_idx, user_idx, cart_quantity, cart_color, cart_size)
        values(#{product_idx}, #{user_idx}, #{cart_quantity}, #{cart_color}, #{cart_size})
    </insert>

    <select id="cartList" parameterType="int" resultMap="cartResultMap">
        select * from cart join
        product on cart.product_idx = product.product_idx
        where user_idx = #{user_idx}
    </select>

    <resultMap id="cartResultMap" type="CartDTO">
        <id property="cart_idx" column="cart_idx"/>
        <result property="product_idx" column="product_idx"/>
        <result property="user_idx" column="user_idx"/>
        <result property="cart_quantity" column="cart_quantity"/>
        <result property="cart_color" column="cart_color"/>
        <result property="cart_size" column="cart_size"/>

        <collection property="cartList" ofType="ProductDTO">
            <id property="product_idx" column="product_idx"/>
            <result property="product_name" column="product_name"/>
            <result property="product_image" column="product_image"/>
            <result property="product_price" column="product_price"/>
        </collection>
    </resultMap>

    <delete id="deleteCartOne" parameterType="int">
        delete from cart where cart_idx = #{cart_idx}
    </delete>

    <delete id="deleteCartSelected" parameterType="java.util.List">
        delete from cart
        where cart_idx in
        <foreach collection="list" item="cart_idx" open="(" separator="," close=")">
            #{cart_idx}
        </foreach>
    </delete>

    <delete id="deleteCartAll" parameterType="int">
        delete from cart where user_idx = #{user_idx}
    </delete>



</mapper>


