<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.OrderMapper">

    <select id="findOrderUserInfoOne" parameterType="Integer" resultType="Map">
        select
            od.order_idx,
            od.user_idx,
            od.user_name,
            od.user_phone,
            od.user_post,
            od.user_addr1,
            od.user_addr2,
            od.order_comment,
            od.order_date
        from orderinfo od
        where od.order_idx = #{order_idx}
        limit 1;
    </select>

    <select id="findOrderUserInfoMany" parameterType="Integer" resultType="Map">
        select
        od.order_idx,
        od.user_idx,
        od.user_name,
        od.user_phone,
        od.user_post,
        od.user_addr1,
        od.user_addr2,
        od.order_comment,
        od.order_date
        from orderinfo od
        where od.user_idx = #{user_idx}
        limit 1;
    </select>

    <select id="findOrderProductByCart" parameterType="Integer" resultType="Map">
        select
            od.order_idx,
            od.order_idx_sn,
            pd.product_idx,
            pd.product_name,
            pd.product_image,
            pd.product_price,
            od.cart_quantity,
            od.cart_color,
            od.cart_size
        from orderinfo od
            left join product pd on pd.product_idx = od.product_idx
        where od.order_idx = #{order_idx};
    </select>

    <select id="findOrderProductByCartMany" parameterType="Integer" resultType="Map">
        select
        od.order_idx,
        od.order_idx_sn,
        pd.product_idx,
        pd.product_name,
        pd.product_image,
        pd.product_price,
        od.cart_quantity,
        od.cart_color,
        od.cart_size
        from orderinfo od
        left join product pd on pd.product_idx = od.product_idx
        where od.user_idx = #{user_idx};
    </select>

    <insert id="addOrder" parameterType="java.util.List">
        INSERT INTO orderinfo(
            order_idx,
            order_idx_sn,
            user_idx,
            user_name,
            user_email,
            user_phone,
            user_post,
            user_addr1,
            user_addr2,
            order_comment,
            product_idx,
            cart_quantity,
            cart_color,
            cart_size
        )
        VALUES
        <foreach collection="list" separator="," item="order">
            (
                #{order.order_idx},
                #{order.order_idx_sn},
                #{order.user_idx},
                #{order.user_name},
                #{order.user_email},
                #{order.user_phone},
                #{order.user_post},
                #{order.user_addr1},
                #{order.user_addr2},
                #{order.order_comment},
                #{order.product_idx},
                #{order.cart_quantity},
                #{order.cart_color},
                #{order.cart_size}
            )
        </foreach>
    </insert>

    <select id="getMaxOrderIdx" resultType="Integer">
        select ifnull(max(order_idx), 10000)+1 from orderinfo
    </select>

</mapper>


